# Настройки окружения
ENVIRONMENT=development

# URL для разработки (ngrok)
API_BASE_URL=https://unslighted-complaisantly-erma.ngrok-free.dev
FRONTEND_URL=http://localhost:3000

# URL для продакшна (замените на ваши домены)
# API_BASE_URL=https://your-api-domain.com
# FRONTEND_URL=https://your-frontend-domain.com

# Настройки сервера
HOST=0.0.0.0
PORT=8000

# Настройки Kling.ai API
KLING_ACCESS_KEY=AkFBemPhJ4LHfFJLL3aCTGKPaGPRNMEA
KLING_SECRET_KEY=nykRgmfLAparCKF3Gg3nC3tmBkYrTftF
KLING_API_DOMAIN=https://api-singapore.klingai.com
